{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="row" style="background-color: #E6E6E6; margin-bottom:10px;">
        <div class="col-sm-4">
            <form class="form-inline" name="goto" action="/goto" method="POST">
                Go to index:
                <input type="text" name="index">
                <button type="submit">Go</button>
            </form>
        </div>
        <div class="col-sm-4">
            <ul class="list-inline">
                <li><a href="/">home</a>
                </li>
                <li><a href="/{{pager.prev}}">prev</a> </li>
                <li><a href="/{{pager.next}}">next</a> </li>
                {% include 'links.html' %}
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="{{profdir}}{{'%03i' % (ind)}}_{{IAUNAME}}.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-7">
            <div class="row">
                {% include 'table.html' %}
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <img src="{{imgdir}}{{'%03i' % (ind)}}_{{IAUNAME}}.png" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
